#userProfile {
    display: flex;
    flex-direction: column;
    margin: 0em;
    padding: 0em;
}

#imgPerfil {
    width: 200px;
    height: 200px;
}

#barraHorizontal {
    background: darkmagenta;
    
}
